.git
bin/
var/
firmware/**/*.zip
legacy-*/log/
data/
.env
.env.*
**/.env
**/.env.*
**/__pycache__/
**/*.pyc
**/*.log
**/*.pcap
**/*.crash
**/*_run.conf
**/last_start.json
**/wordlist.list
**/user_db.csv
configs/app.yaml
**/*.tgz
**/*.tar
**/*.tar.gz

.codex*
.agents
